%h2 Ideas

= link_to 'Create Idea', new_idea_path, class: :button

%div{:class => 'sixteen columns'}

- @ideas.each do |i|
  %div{:class => 'four columns idea'}      
    %img{:class => 'ideaLogo', :src => "/assets/exampleLogo.png"}

    %a{:href => idea_path(i)}
      %h3{:class => 'ideaName'}
        = i.name
    %p{:class => 'ideaSum'}
      = i.leader
    %div{:class => 'ideaFooter'}
      %div{:class => 'ideaFooter'}
        %div{:class => 'msgCount'}
          %h6
            = 99
        %div{:class => 'moreInfo'}
          = 'More...'
      //, idea_path(i)
      //    %td= i.leader
      //    %td= i.user.full_name
}
