%h2 Ideas

= link_to 'Create Idea', new_idea_path, class: :button

.sixteen.columns

- @ideas.each do |idea|
  .four.columns.idea
    = image_tag 'exampleLogo.png', class: 'ideaLogo'
    %h2.ideaName= link_to idea.name, idea

    %p.ideaLeader= idea.leader

    .ideaFooter
      .msgCount
        %h6= idea.comments.count
      .moreInfo=link_to 'More...', idea
