= link_to 'Back To Ideas', ideas_path, class: :button

%h2= @idea.name

%h4= @idea.leader

%p= @idea.description

- if current_user.vote_for_idea(@idea).present? && current_user.vote_for_idea(@idea).kind == 1
  = link_to fa_icon('thumbs-up 4x', class: :green), idea_upvote_path(@idea)
- else
  = link_to fa_icon('thumbs-o-up 4x', class: :green), idea_upvote_path(@idea)

- if current_user.vote_for_idea(@idea).present? && current_user.vote_for_idea(@idea).kind == -1
  = link_to fa_icon('thumbs-down 4x flip-horizontal', class: :red), idea_downvote_path(@idea)
- else
  = link_to fa_icon('thumbs-o-down 4x flip-horizontal', class: :red), idea_downvote_path(@idea)

%h3 Comments

= render 'comments/comments', comment: @comment, comments: @comments
