= link_to 'Back To Ideas', ideas_path, class: :button

%h2= @idea.name

%h4= @idea.leader

%p= @idea.description

= link_to fa_icon('thumbs-o-up 4x', class: :green), idea_upvote_path(@idea)
= link_to fa_icon('thumbs-o-down 4x flip-horizontal', class: :red), idea_downvote_path(@idea)

%h3 Comments

= render 'comments/comments', comment: @comment, comments: @comments
