.sixteen.columns
  .twelve.columns.alpha.clearfix
    .ideaHeader
      .four.columns.ideaLogo.clearfix
        =image_tag 'exampleLogoFull.png'
      .eight.columns.ideaBrief
        %h1.ideaName= @idea.name
        %p.ideaLeader.bigger= @idea.leader
    .ideaDescription
      %h3= @idea.description
  .four.columns.omega
    .ideaOwner
      %h4 Idea Ownership
      =image_tag 'exampleUser.jpg', class: 'userAvatar'
      %h4= @idea.user.full_name
    .ideaVotes
      %h6 Votes
      %div.voteIcons
        - if user_signed_in?
          .thumbIcon.up{ :'data-bind' => 'click: upvote, css: thumbUpIconClasses' }
          .votes.up{ :'data-bind' => 'text: idea().upVoteCount' }
          .thumbIcon.down{ :'data-bind' => 'click: downvote, css: thumbDownIconClasses' }
          .votes.down{ :'data-bind' => 'text: idea().downVoteCount' }
        - else
          Want to vote?
          = link_to 'Sign In', new_user_session_path

.sixteen.columns.ideaMessages
  %h4 Message History
  = render 'comments/comments', comment: @comment, comments: @comments
