= link_to 'Back To Ideas', ideas_path, class: :button

%h2= @idea.name

%h4= @idea.leader

%p= @idea.description

%p{data: { bind: "text: idea().score()"} }

- if user_signed_in?
  %p
    %span= fa_icon('thumbs-up 4x', class: [:green],
                    data: { "bind" => "visible: vote().kind() == 1" })
    %span= fa_icon('thumbs-o-up 4x', class: [:green, :clickable],
                    data: { "bind" => "click: upvote, visible: vote().kind() != 1" })
    %span= fa_icon('thumbs-down 4x flip-horizontal', class: [:red],
                    data: { "bind" => "visible: vote().kind() == -1" })
    %span= fa_icon('thumbs-o-down 4x flip-horizontal', class: [:red, :clickable],
                    data: { "bind" => "click: downvote, visible: vote().kind() != -1" })
- else
  %p
    Want to vote?
    = link_to 'Sign In', new_user_session_path

%h3 Comments

= render 'comments/comments', comment: @comment, comments: @comments
