= link_to 'Sign Up', new_user_registration_url, class: :button

= link_to 'Sign in Via Facebook', user_omniauth_authorize_path(:facebook), class: :button

- if current_user
  = link_to 'Sign Out', destroy_user_session_path, class: :button, method: :delete

%h2 Users

%table
  %thead
    %tr
      %th Name
      %th Email
  %tbody
    - @users.each do |u|
      %tr
        %td= link_to u.proper_name, user_path(u)
        %td= u.email
