<!DOCTYPE html>
<html>
  <head>
    <title>Vibes</title>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= stylesheet_link_tag    params[:controller], media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>

    <%= csrf_meta_tags %>
  </head>
  <body>

    <div id="error"></div>

    <div class="container">
      <%= yield %>
    </div>

    <%= javascript_include_tag "knockout-3.0.0", "data-turbolink-track" => true %>
    <%= javascript_include_tag params[:controller], "data-turbolink-tack" => true %>
  </body>
</html>
